
Flex requires you to specify an `apiLevel` of 2.15 or higher. If your OT-2 protocol specified `apiLevel` in the `metadata` dictionary, it’s best to move it to the `requirements` dictionary. You can’t specify it in both places, or the API will raise an error.

> **Note:**
>
> 
>
> Consult the [list of changes in API versions](https://docs.opentrons.com/v2/versioning.html#version-notes) to see what effect raising the `apiLevel` will have. If you increased it by multiple minor versions to get your protocol running on Flex, make sure that your protocol isn’t using removed commands or commands whose behavior has changed in a way that may affect your scientific results.

You also need to specify `'robotType': 'Flex'`. If you omit `robotType` in the `requirements` dictionary, the API will assume the protocol is designed for the OT-2.

**Original OT-2**

```python
from opentrons import protocol_api

metadata = {
    "protocolName": "My Protocol",
    "description": "This protocol uses the OT-2",
    "apiLevel": "2.16"
}
```

**codeUpdated Flex code** 

```python
from opentrons import protocol_api

metadata = {
    "protocolName": "My Protocol",
    "description": "This protocol uses the Flex",
}

requirements = {"robotType": "Flex", "apiLevel": "2.16"}
```

