IMAGE_PULL_POLICY=always
IMAGE_REGISTRY=docker.io

IMAGE_MYSQL=mysql:8.0.32
IMAGE_REDIS=redis:7.0.8

IMAGE_X_PCR=mgi-x/x-pcr:latest
IMAGE_X_SEARCH=mgi-x/x-search:latest

TIMEZONE=Asia/Singapore

### DATA
DATA_PATH=.

### MYSQL
DATABASE_TABLE_PREFIX=xpcr_
MYSQL_DATABASE=xpcr
MYSQL_HOST=mysql
MYSQL_PASSWORD=mgix@com
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=mgix@com
MYSQL_USERNAME=root

### REDIS
REDIS_DB=0
REDIS_HOST=redis
REDIS_PASSWORD=mgix@com
REDIS_PORT=6379
REDIS_TTL=2592000

### JWT
JWT_SECRET=example_jwt_secret
JWT_EXPIRES_IN=2592000

### OPENAI-AZURE
OPENAI_API_BASE=https://example.openai.azure.com/
OPENAI_API_KEY=xxxxxx
OPENAI_API_ENGINE=gpt-4o
### GOOGLE SEARCH
# GOOGLE_SEARCH_API_KEY=xxxxxxx
# GOOGLE_SEARCH_API_BASE=https://www.googleapis.com/customsearch/v1
# GOOGLE_SEARCH_API_CX=xxxxxxxxx

XPCR_FILES=/

### PROXY
PROXY_ENABLE=false
PROXY_HOST=127.0.0.1
PROXY_PORT=7890
PROXY_PROTOCOL=http

### NCBI
NCBI_HOST=xsearch
NCBI_PORT=8081
NCBI_PATH=/ncbi

### PRIMER DESGIN
PRIMER_HOST=xsearch
PRIMER_PORT=8081
PRIMER_PATH=/primer

### PROTOCOL DESIGN
PROTOCOL_HOST=xsearch
PROTOCOL_PORT=8081
PROTOCOL_PATH=/protocol_design

### CODE EXECUTION
API_BASE_HOST=172.16.211.187
API_BASE_PORT=31950
JETSON_API_BASE_HOST=172.16.221.4
JETSON_API_BASE_PORT=8000
JETSON_API_BASE_PATH=/ws

### AZURE WHISPER
WHISPER_AZURE_OPENAI_ENDPOINT=https://example.openai.azure.com
WHISPER_AZURE_OPENAI_KEY=xxxxxx
WHISPER_DEPLOYMENT_NAME=xwhisper