@import './base.css';

#app {
  height: 100%;
}

html {
  overflow-y: auto !important;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}

/* 滚动条悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* 滚动条拖动时的样式 */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* 滚动条轨道上的按钮样式（仅针对某些浏览器） */
::-webkit-scrollbar-button {
  display: none;
}

a:-webkit-any-link {
  color: #4c6bab;
  cursor: pointer;
  text-decoration: underline;
}

li::marker {
  color: #31DA9F;
}
ol {
  list-style: decimal;
  counter-reset: item;
  padding-left: 15px;
  white-space: normal;
}
ul {
  white-space: normal;
}


